# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/
# project files
app.py
core.*
Dockerfile
index.yaml*
koredumpctl
koredump-*.tar.gz
koredump-*.tgz
koremonitor.py
__pycache__/
requirements.txt
tests/
.tox/
tox.ini
